<!-- Polymer -->
<link rel="import" href="http://rawgit.com/KageKirin/polymer-cdn/master/core/client/bower_components/polymer/polymer.html" />
<!-- MDL -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"  />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"  />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css" />

<!-- Element -->
<dom-module id="mdl-layout-content">
	<style>
	</style>

	<template>
		<main class$="mdl-layout__content {{class}}">
			<content></content>
		</main>
	</template>
</dom-module>
<script>
	Polymer({
		is: 'mdl-layout-content',
		properties: {
			class: { type: String, value: "" }
		}
	});
</script>
<!-- /Element -->
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
